/*Addfont*/
@font-face{
    font-family: HomebarFont;
    src: url("../../assets/fonts/Roboto-Bold.ttf");
}

@font-face{
    font-family: AboutPageFont;
    src: url("../fonts/Roboto-Light.ttf")
}

/*body*/
body{
    background-image: url("../pngs/Moneys.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-attachment: fixed;
    background-position: center;
    
}
/*topbar*/

#topbar {
    background-color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    align-content: space-between;
    width: 100%;
    height:10vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    /*box-shadow: 10px 10px 5px rgb(100,100,100)*/
}

#topbar > a {
    float: left;
    color: rgb(255,255,255);
    padding: 1vh 10vh;
    font-size: 5vh;
    font-family: HomebarFont;
    text-decoration: none;


    
}

#topbar > img {
    width: 7vh;
    height: 7vh;
    margin-left: 5vh;
    margin-right: 5vh;
    
}

#topbar > a:hover{
    background-color: rgb(46, 72, 189);
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

/*Homepage*/

#Getstarted{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../pngs/Moneys.png");
    font-family: HomebarFont;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-size: 10vh;
    background-attachment: fixed;
    background-position: center;

}

#Getstarted > h3{
    background-color: rgb(50,50,150);
    padding: 7vh 20vh;
    border-radius: 10%;
    color: rgb(255,255,255)
}

#Getstarted > h3:hover{
    background-color: rgb(61, 61, 197)
}

body{
    /*margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;*/
    width: 100%;
    height: 100%;
}

/*ContactPage*/
.namecard{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,.7);
    border-width: 200px;
    padding-bottom: 5px;

}

.namecard > a{
    text-decoration: none;
}


#profiles{
    font-family: AboutPageFont
}

.img{
    width: 240px;
    height: 240px;
    margin-left: 20px;
}

.contactpagebody{
    background-image: url("../pngs/Moneys.png");
    background-repeat: no-repeat;
    background-size: cover;

}

#Justin{
    padding-top: 5px;
}

/*Aboutpage*/

.aboutdescription{
    font-family: AboutPageFont;
}

.aboutpagebody{
    background-image: url("../pngs/Moneys.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Getstarted > h3> a{
    text-decoration: none;
    color: rgb(255,255,255)
}

a{
    text-decoration: none;
    color: rgb(0,0,0)
}
#submit{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}